<div class="content cluster-overview-content">

  <app-navigation-breadcrumb class="navigation"
                             [activeNavigationElement]="this.activeNavigationElement">
  </app-navigation-breadcrumb>

  <div class="cluster-overview">
    <div *ngIf="this.clustersLoading" class="loading">
      <ngx-loading [show]="this.clustersLoading"></ngx-loading>
    </div>

    <div *ngIf="!this.clustersLoading">
      <div class="card node-card" *ngFor="let cluster of this.clusters">

        <div class="card-header d-flex align-items-center justify-content-between"
             (click)="openDetailsView(this.cluster)">
          <fa-icon [icon]="['fa', 'server']" size="1x"></fa-icon>
          <div class="float-right w-50 text-right text-monospace text-truncate" tooltip="{{cluster.id}}">{{cluster.id}}</div>
        </div>

        <div class="card-body pb-1" (click)="openDetailsView(this.cluster)">
          <label class="desc">IP</label>
          <label>{{cluster.host}}</label>

          <label class="desc">Worker</label>
          <label>{{cluster.numberOfWorkers}}</label>

          <label class="desc">Reducer</label>
          <label>{{cluster.numberOfReducers}}</label>

          <label class="desc">Cores</label>
          <label>{{cluster.numberOfCores}}</label>

          <label class="desc">Load</label>
          <div class="progress"
               tooltip="&#8709; Load: {{cluster.averageLoad | number:'.2-2'}}, &#8709; Cores: {{cluster.averageNumberOfCores}}">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                 [style.width.%]="cluster.averageLoadPercent">
              <span>{{cluster.averageLoad | number:'.2-2'}}</span>
              <div class="progress-bar-marker bg-dark" [style.left.%]="cluster.averageNumberOfCoresPercent"></div>
            </div>
          </div>

          <label class="desc">Tasks</label>
          <div class="progress"
               tooltip="Running Tasks: {{cluster.numberOfRunningTasks}}, Queued Tasks: {{cluster.numberOfQueuedTasks}}">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                 [style.width.%]="getTasksPercent(cluster)">
              <span>{{cluster.numberOfTasksToFinish}}</span>
            </div>
          </div>
        </div>

        <div class="card-body pt-0" style="cursor: default;">
          <label class="desc" style="cursor: default;">Features</label>
          <div class="pl-3">
            <div class="float-right">
              <a routerLink="." (click)="this.toggleShowFeatures(cluster.id)">
                <fa-icon *ngIf="!this.showFeatures.get(cluster.id)" [icon]="['fa', 'chevron-right']"></fa-icon>
                <fa-icon *ngIf="this.showFeatures.get(cluster.id)" [icon]="['fa', 'chevron-down']"></fa-icon>
              </a>
            </div>
            <div *ngIf="this.showFeatures.get(cluster.id)">
              <div *ngIf="this.featuresLoading.get(cluster.id)" class="loading">
                <ngx-loading [show]="this.featuresLoading.get(cluster.id)"></ngx-loading>
              </div>
              <app-feature-list
                [features]="cluster.features"
                [featureCount]="cluster.featureCount">
              </app-feature-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
