<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!--<property name="hibernate.hbm2ddl.auto">update</property>-->
        <!--<property name="javax.persistence.schema-generation.database.action">drop-and-create</property>-->
        <property name="javax.persistence.schema-generation.database.action">create</property>
        <!--<property name="javax.persistence.schema-generation.database.action">none</property>-->

        <property name="connection.autocommit">true</property>
        <property name="connection.release_mode">auto</property>

        <property name="hibernate.current_session_context_class">thread</property>

        <property name="show_sql">true</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.timeout">500</property>
        <property name="hibernate.c3p0.idle_test_periods">1000</property>
        <property name="hibernate.c3p0.validate">true</property>
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>

        <!-- MAPPING CLASSES DECLARATION -->
        <mapping class="at.enfilo.def.domain.entity.FormalParameter"/>
        <mapping class="at.enfilo.def.domain.entity.Group"/>
        <mapping class="at.enfilo.def.domain.entity.Routine"/>
        <mapping class="at.enfilo.def.domain.entity.RoutineBinary"/>
        <mapping class="at.enfilo.def.domain.entity.Tag"/>
        <mapping class="at.enfilo.def.domain.entity.User"/>
        <mapping class="at.enfilo.def.domain.entity.DataType"/>
        <mapping class="at.enfilo.def.domain.entity.Feature"/>

        <mapping class="at.enfilo.def.domain.map.RFPMap"/>
        <mapping class="at.enfilo.def.domain.map.RRBMap"/>
        <mapping class="at.enfilo.def.domain.map.UGMap"/>
        <mapping class="at.enfilo.def.domain.map.RFMap"/>

    </session-factory>
</hibernate-configuration>