* {
  box-sizing: border-box;
}

:root {
  --grid-gap: 20px;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo {
  padding: 0 10px;
}

.header nav {
  height: 60px;
}

.content {
  padding: 40px 60px;

  display: grid;
  grid-gap: 30px;
}

.progress {
  position: relative;
  background-color: lightgray;
  height: 20px;
}

.progress-circle {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-bar-marker {
  position:absolute;
  z-index:1;
  height:20px;
  width:2px;
  border-radius:25px;
}

.progress-bar span {
  color: black;
}

.content h4 {
  padding-bottom:10px;
}

.card {
  margin-bottom: 20px;
}

.node-card {
  width: 280px;
}

.node-card .progress {
  height: 20px;
}

.node-card:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.node-card label:hover {
  cursor: pointer;
}

.card-body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: minmax(24px, auto);
  grid-gap: .125rem;
}

.card-body .desc, .card-header .desc {
  color: grey;
  font-size: small;
  text-align: right;
  padding-right: 1rem;
  padding-left: 1rem;
}

.card-body-with-one-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(24px, auto);
  grid-gap: .125rem;
}

.card-body-with-one-column p {
  text-align: justify;
}

.card-body .editable-area button {
  width: 32px;
  margin-left: 10px;
}

.card-body .editable-area .editing-area button {
  margin: 1rem 1rem 0 0;
}

.code-area {
  overflow: auto;
}

.pre-area {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}

.overview-table tr {
  cursor: pointer;
}


.important-note {
  padding: 10px;
  background-color: lightpink;
  border-radius: 10px;
}

.pointer-cursor {
  cursor: pointer;
}

.filter-button {
  float: right;
  margin: 0px 0px 10px 5px;
}

.btn.nohover:hover {
  background-color: white;
  color: #adb5bd;
  cursor: default;
}

.btn.nohover fa-icon {
  cursor: pointer;
}

/*
Table column width
 */
.table-col {
  max-width: 100%;
  flex-grow: 1;
}
.table-col-auto {
  width: auto;
  max-width: 100%;
}
.table-col-1 {
  width: 8.333333%;
}
.table-col-2 {
  width: 16.666667%;
}
.table-col-3 {
  width: 25%;
}
.table-col-4 {
  width: 33.333333%;
}
.table-col-5 {
  width: 41.666667%;
}
.table-col-6 {
  width: 50%;
}
.table-col-7 {
  width: 58.333333%;
}
.table-col-8 {
  width: 66.666667%;
}
.table-col-9 {
  width: 75%;
}
.table-col-10 {
  width: 83.333333%;
}
.table-col-11 {
  width: 91.666667%;
}
.table-col-12 {
  width: 100%;
}


/********
General Tables
 *******/
td.desc {
  font-size: smaller;
  text-align: right;
  color: #595959;
  width: auto;
  padding-right: 5px;
  white-space: nowrap;
}

td.content {
  width: 100%;
  height:100%;
  position: relative;
  padding: 5px;
  font-size: initial;
  font-weight: normal;
}

/********
UUID
 ********/
.idTruncated {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/******
 Loading bar
 *****/
div.loading {
  position: relative;
  min-height: 30px;
}


/**
Form validation
 */
.ng-valid[required], .ng-valid.required  {
}
.ng-invalid:not(form)  {
  border-left: 2px solid #a94442; /* red */
}

/*
Features
 */
.feature {
  padding-right: .25rem;
  padding-left: .25rem;
  margin-top: .125rem;
  margin-bottom: .125rem;
  margin-right: .25rem;
  border: 1px solid #ced4da;
  border-left-width: .25rem;
  border-radius: .25rem;
}
.language {
  border-left-color: #17a2b8;
}
.extension {
  font-size: small;
}
.feature .divider {
  border-left: 1px solid #ced4da;
  border-top: 1px solid #ced4da;
  border-bottom: 2px solid #ced4da;
  width: 0px;
}
.feature .version {
  padding-left: .25rem;
  padding-right: .125rem;
  color: rgba(0, 0, 0, 0.5) !important;
}
