<div class="content resources-content">

  <div class="navigation">
    <app-navigation-breadcrumb
      [activeNavigationElement]="this.activeNavigationElement">
    </app-navigation-breadcrumb>
  </div>

  <div class="client-api">
    <h4>Client API</h4>
    <table class="table table-sm table-striped">
      <thead>
      <tr>
        <th>Language</th>
        <th>Client API</th>
        <th>Install notes</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Java</td>
        <td><a href="assets/api/java/client-api-1.4.6-all.jar">client-api-1.4.6-all.jar</a></td>
        <td></td>
      </tr>
      <tr>
        <td>Python</td>
        <td><a href="assets/api/python/client-routine-api-1.4.6.zip">client-routine-api-1.4.6.zip</a></td>
        <td>
          <pre><code highlight
                  [language]="['shell']">
$ unzip client-routine-api-1.4.6.zip
$ cd python
$ pip install . --user --upgrade</code></pre>
        </td>
      </tr>
      <tr>
        <td>MATLAB</td>
        <td><a href="assets/api/matlab/client-routine-api-1.4.6.zip">client-routine-api-1.4.6.zip</a></td>
        <td>
        <pre><code highlight
                [language]="['shell']">
$ unzip client-routine-api-1.4.6.zip
$ cd matlab
$ cp lib/* $MATLAB_ROOT/java/jars/</code></pre>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="routine-api">
    <h4>Routine API</h4>
    <table class="table table-sm table-striped">
      <thead>
      <tr>
        <th>Language</th>
        <th>Routine API</th>
        <th>Install notes</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Java</td>
        <td><a href="assets/api/java/routine-api-1.4.6-all.jar">routine-api-1.4.6-all.jar</a></td>
        <td></td>
      </tr>
      <tr>
        <td>Python</td>
        <td><a href="assets/api/python/client-routine-api-1.4.6.zip">client-routine-api-1.4.6.zip</a></td>
        <td>
          <pre><code highlight
                  [language]="['shell']">
$ unzip client-routine-api-1.4.6.zip
$ cd python
$ pip install . --user --upgrade</code></pre>
        </td>
      </tr>
      <tr>
        <td>MATLAB</td>
        <td><a href="assets/api/matlab/client-routine-api-1.4.6.zip">client-routine-api-1.4.6.zip</a></td>
        <td>
          <pre><code highlight
                  [language]="['shell']">
$ unzip client-routine-api-1.4.6.zip
$ cd matlab
$ cp lib/* $MATLAB_ROOT/java/jars/</code></pre>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="tools">
    <h4>Tools</h4>
    <table class="table table-sm table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Download</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>DEF Shell</td>
        <td>DEF administration shell.</td>
        <td><a href="assets/tools/def-shell-1.4.6-all.jar">def-shell-1.4.6-all.jar</a></td>
      </tr>
      <tr>
        <td>DEF Simulator</td>
        <td>Simulates all needed DEF components for Client and Routine development.</td>
        <td><a href="assets/tools/local-simulator-1.4.6-all.jar">local-simulator-1.4.6-all.jar</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
